@CHARSET "UTF-8";

body {
	margin: 0px;
	font-family: "Helvetica", sans-serif;
	color: #333;
	font-size: 12pt;
}

select {
	background:
		url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.8 5.9" enable-background="new 0 0 8.8 5.9" xml:space="preserve"><path fill="#333333" d="M8.3,0.7L4.5,5.4c0,0.1-0.1,0.1-0.2,0L0.5,0.7c-0.1-0.1,0-0.2,0.1-0.2h7.6C8.3,0.5,8.3,0.6,8.3,0.7z"/></svg>')
		no-repeat;
	outline: none;
	background-color: #eee;
	background-size: 25% 25%;
	background-position: top 50% right -1em;
}

a {
	text-decoration: none;
	color: #2100A3;
}

a:hover {
	color: #555;
}

.central-content {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.content-pane {
	margin: 15px;
	padding: 15px;
	border: 1px solid #ccc;
}

input[type=text],input[type=password],input[type=number]{
	border: 1px solid #ccc;
	width: 20em;
	padding: 0.5em;
}

input[type=radio] {
	border:4px;width:auto;height:auto;}

.positive-text {
	color: rgb(50, 175, 50);
}

.negative-text {
	color: rgb(221, 87, 69);
}

.positive-button {
	background-color: rgb(50, 175, 50);
}

.negative-button {
	background-color: rgb(221, 87, 69);
}

.move-on-button {
	background-color: rgb(49, 136, 216)
}

.neautral-button {
	background-color: #999;
}

.action-button {
	background: url( "../images/QuiZoneButton.jpg" );
}

.button {
	color: #fff;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

a.button {
	max-width: 20em;
	box-sizing: border-box;
	text-align: center;
}

.error-box {
	color: #fff;
	background-color: rgb(221, 87, 69);
	margin: auto;
	padding: 10px;
	font-size: 10pt;
	max-width: 20em;
	margin-top: -10px;
}

/* Quiz Boxes */
.content-box {
	background-color: #fcfcfc;
	border: 1px dashed #ccc;
	padding: 10px;
	margin-bottom: 10px;
}

.content-box:hover {
	background-color: #f8f8f8
}

.page-title {
	text-align: center;
	margin-top: 0px;
	font-size: 2em;
}

form>* {
	margin-left: auto;
	margin-right: auto;
}

/* Lists */
ul.striped-list {
	margin: 0px;
	padding: 0px;
}

ul.striped-list>li {
	display: block;
	padding: 5px;
}

ul.striped-list>li:nth-child(even) {
	background-color: rgb(240, 240, 240);
}

ul.striped-list>li:nth-child(odd) {
	background-color: rgb(250, 250, 250);
}