@CHARSET "UTF-8";

.main-page-content {
	display: table;
	height: 500px;
	width: 100%;
}

.main-page-content > div {
	display: table-cell;
	vertical-align: top;
}

.center-content {
	width: 50%;
}

.left-content, .right-content {
	width: 25%;
}

.section {
	margin-top: 15px;
	margin-left: 15px;
	border: 1px solid #ccc;
}

.right-content > .section {
	margin-right: 15px;
}

.section-header {
	padding: 5px;
	font-weight: 600;
	font-size: 14pt;
}

.section-content {
	padding: 10px;
}

.section-content img {
	max-width: 100%;
}

.welcome-banner {
	padding: 20px;
	text-align: center;
}

.welcome-banner h1 {
	margin: 0px;
}

.no-announcements {
	text-align: center;
	margin-top: 0px;
}